/* @override http://localhost/ultralite/content/themes/greyspace_neue/styles/dark.css */

/* 
	Theme: Greyspace Neue
	Style: Dark
	Author: Jay Williams
	License: GPL
  */

/* @group Global */

* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.section{
	width:  650px;
	min-width: 500px;
	margin: 0 auto;
}

a{
	outline: none;
}

.clear{
	clear: both;
}

/* @end */

/* @group Colors */
body{
	color: #282828;
	background-color: #595959;
}
.page, .published, .site.section .name, .site.section .name a{
	color: #808080;
}

.middle.section{
	color: #808080;
	background-color: #000;
}

img#photo{
	color: #000;
}

.site.section .tagline {
	color: #595959;
}

a{
	color: #808080;
}

/* @end */

/* @group Top */

.top.section .published {
	display: block;
	margin-left: 2px;
	font-size: 10px;

	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
	height: 25px;
}

.top.section .title {
	font-size: 36px;
	float: left;
	line-height: 36px;
}

.top.section .nav {
	float: right;
	font-size: 14px;
	text-align: right;
	margin-top: 9px;
	clear: both;
	margin-bottom: 2px;
}

.top.section .nav a{
	text-decoration: none;
	color: #808080;
	margin-left: 5px;
	background-color: #4d4d4d;
	padding: 3px 8px 6px;
}

.top.section .nav a:hover{
	background-color: #262626;
}
.top.section .nav a:active,
.top.section .nav a.active{
	background-color: #000;
}



/* @end */

/* @group Middle */

.middle.section{
	width: 100%;
	text-align: center;
	line-height: 0;
}

.site.section{
	line-height: 24px;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
}

.site.section .name{
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 5px;
	margin-right: 2px;
	display: inline;
	font-weight: normal;
	font-style: normal;
}

.site.section .name a{
	text-decoration: none;
}

img#photo {
	border-width: 1px;
	border-style: solid;
}



/* @end */

/* @group Bottom */

#description p {
	padding-top: 10px;
}



/* @end */

/* @group Archive */

.thumbnails{
	text-align: left;
}

.thumbnails a{
}

.thumbnails a img{
	border-width: 0;
	border-style: none;
	margin: 5px;
}


.pagination{
	text-align: center;
}
.pagination .page{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
}
.pagination a{
	background-color: #000;
	font-size: 14px;
}


.pagination a{
	text-decoration: none;
	color: #808080;
	padding: 3px 8px 6px;
	background-color: #4d4d4d;
}

.pagination a:hover{
	background-color: #262626;
}
.pagination a:active,
.pagination a.active{
	background-color: #000;
}

.pagination a.disabled{
	color: #595959;
	background-color: #4d4d4d;
}

.pagination .previous{
	float: left;
}
.pagination .next{
	float: right;
}



/* @end */

/* @group About */

.about {
	line-height: 24px;
	text-align: left;
	padding-top: 20px;
}

.subbox{
	margin-top: 20px;
}


.col1, .col2, .col3{
	width: 28%;
	float: left;
}

.col2, .col3{
	margin-left: 8%;
}

/* @end */

