/* @override 
	http://192.168.1.200/ultralite/themes/greyspace/style.css
*/

/* 
	Theme: Greyspace
	Style: Light
	Author: Jay Williams
	License: GPL
  */

/* @group Global */

* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.section{
	width:  650px;
	min-width: 500px;
	margin: 0 auto;
}

a{
	outline: none;
}


/* @end */

/* @group Colors */
body{
	color: #282828;
	background-color: #fff;
}
.published, .site.section .name, .site.section .name a{
	color: #808080;
}

.middle.section{
	background-color: #fff;
}

img#photo{
	color: #808080;
}

.site.section .tagline {
	color: #595959;
}

/* @end */

/* @group Top */

.top.section .published {
	display: block;
	margin-left: 2px;
	font-size: 10px;

	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
}

.top.section .title {
	font-size: 36px;
	margin-bottom: 10px;
}



/* @end */

/* @group Middle */

.middle.section{
	width: 100%;
	text-align: center;
	line-height: 0;
}

.site.section{
	line-height: 24px;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
}

.site.section .name{
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 5px;
	margin-right: 2px;
	display: inline;
	font-weight: normal;
	font-style: normal;
}

.site.section .name a{
	text-decoration: none;
}

img#photo {
	border-width: 1px;
	border-style: solid;
}



/* @end */

/* @group Bottom */

#description p {
	padding-top: 10px;
}



/* @end */

